PORT=3001
MONGO_DB=
CORS_FRONT=

SFX_DB=
SFX_USER=
SFX_PASSWORD=
SFX_CLIENT_ID=

JWT_SECRET=
JWT_TOKEN_EXPIRY=
JWT_REFRESH_TOKEN_EXPIRY=
JWT_TIME_TO_REFRESH_TOKEN=

DEFAULT_LIMIT=
DEFAULT_PAGE=

NODE_ENV=